span{
    font-weight: bolder;
}

.full-height {
  height: 80dvh;
}

.d-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.w-img-50 {
  height: 150px;
}

.h1-title {
  font-size: 1.5rem;
}

.d-flex-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-img{
    height: 180px;
    align-items: center;
}

.modal-cart{
  width: 25%;
  text-align: center;
  
}